<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Report League Result</title>
  <meta name="description" content="Report Result">

<!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

</head>
<body>
    <form id="register" action="/register" method="post">
        <label for="first"> First Name: </label>
        <input name="first" value=""/>
        <p/>
        <label for="last"> Last Name: </label>
        <input name="last" value=""/>
        <p/>
        <label for="pin"> Pin: </label>
        <input name="pin" value=""/>
        <p/>
        <input type="submit" value="Submit"/>
    </form>
    <p/>
    Pin is not secure at all! Don't use a password!
</body>
</html>
